.navbar {
  width: auto;
  height: 90px;
  background-color: #ac3b61;
  margin-bottom: 20px;
}
body {
  margin: auto;
  height: 60vh; /*later change it to auto */
  width: 90%;
  /* background-color: cadetblue; */
}
.card {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Squada One", cursive;
  font-size: 30px;
}
.card-title {
  font-family: "Squada One", cursive;
  font-size: 17px;
}
.btn-info {
  margin: auto;
  margin-bottom: 10px;
}
.prevRate {
  margin: auto;
  height: 10vh;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 766px) {
  .prevRate {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
