.body {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  height: auto;
  background-color: peachpuff;
  border-radius: 5px;
}
.card-img-top {
  height: 250px;
  width: 300px;
}
.content {
  padding: 16px;
}
.row {
  justify-content: space-around;
  flex-wrap: 250px;
  padding-top: 10px;
}
.col {
  padding-top: 30px;
}
.card {
  width: 300px;

  height: auto;

  /* border: 1px solid black; */
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.content-box {
  width: 80%;
  margin: auto;
}
.dateBox {
  height: Auto;
  /* background-color: chartreuse; */
  justify-content: left;
  border-bottom: 2px solid#d4d8d9;
  border-radius: 15px;
}
.datebox-content {
  text-align: left;
  margin-left: 20px;
}
.clientInfo-box {
  height: 300px;
  /* background-color: chocolate; */
}
.clientInfo {
  margin-left: 7px;
}
.driverInfo-box {
  height: 300px;
  /* background-color: cornflowerblue; */
}
.error-msg {
  font-size: 25px;
  font-family: "Caveat", cursive;
  text-align: center;
}
