<div class="frame">
    
    <div class="content-box">
        <div class="row">
            <div class="col"  *ngFor="let item of data">
                
                    <div class="card" style="width: 250px;">
                        <img class="card-img-top" src="{{'data:image/png;base64,'+item[5]}}" alt="Card image cap">
                        <div class="card-body">
                        <h2 class="card-title">{{item[0]+' '+item[1]}}</h2>
                        <p class="card-text">Phone Number: {{item[2]}}</p>
                        <p class="card-text">Email: {{item[3]}}</p>
                        <p class="card-text">Location: {{item[4]}}</p>
                        <button type="button" class="btn btn-success" name="phone" (click)="selectThisJob(item[2])" >Select</button>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>

</div>

<!--  -->
